<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Console</title>
    <style>
        body{background: #411934}
        .text {
            background-color: purple;
            color: limegreen;
            width: auto;
            font-size: 110%;
            border: none;
            outline: none;
        }
    </style>
</head>
<body>
{{range .Lore}}
    {{if .}}
    <h1 style="color: limegreen;font-size: 105%">{{.}}</h1>
    {{end}}
{{end}}
<p>
</p>
<form action="/SSHData/parseData" method="post">
    <label>
        <h3  class="text">
            {{.Dir}}<input type="text"  class="text" name="cmd">
        </h3>
    </label>
</form>
</body>
</html>